@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap");
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1125px;
  margin: 0px auto;
  padding: 0px 15px;
}
@media (max-width: 1140px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 912px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 668px) {
  .container {
    max-width: 580px;
    padding: 0px 30px;
  }
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside, section {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Roboto Slab", serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "Roboto Slab", serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.header {
  position: absolute;
  top: 28px;
  left: 0;
  width: 100%;
  z-index: 3;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

@media (max-width: 668px) {
  .header__nav {
    position: absolute;
    top: -2000%;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 0;
    transition: all 0.3s ease-out 0.1s;
  }
  .header__nav.active {
    top: -28px;
    opacity: 0.9;
  }
}

.nav__list {
  display: flex;
}
.nav__list li {
  padding: 0 17.5px;
}
@media (max-width: 912px) {
  .nav__list li {
    padding: 0 10px;
  }
}
@media (max-width: 668px) {
  .nav__list li {
    padding-bottom: 40px;
  }
}
@media (max-width: 668px) {
  .nav__list {
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
  }
}

.nav__item {
  position: relative;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.35px;
}
.nav__item:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: #fff;
  opacity: 0;
  transition: all 0.3s ease-out 0.05s;
}
.nav__item:hover:after {
  width: 110%;
  left: -5%;
  opacity: 1;
}
@media (max-width: 912px) {
  .nav__item {
    font-size: 16px;
  }
}
@media (max-width: 668px) {
  .nav__item {
    font-size: 26px;
    letter-spacing: 3px;
  }
}

.burger {
  display: none;
}
@media (max-width: 668px) {
  .burger {
    display: block;
    position: relative;
    min-width: 35px;
    height: 30px;
  }
  .burger:before, .burger:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .burger:before {
    top: 0;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0.2s;
  }
  .burger:after {
    bottom: 0;
    transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1) 0.2s;
  }
  .burger span {
    position: absolute;
    top: 14px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0.2s;
  }
  .burger.active:before {
    top: 14px;
    transform: rotate(45deg);
  }
  .burger.active:after {
    bottom: 14px;
    transform: rotate(-45deg);
  }
  .burger.active span {
    transform: rotate(360deg);
    opacity: 0;
  }
}

.home-fullscreen {
  position: relative;
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.home__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.home__bg_cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  opacity: 0.45;
  z-index: 1;
}

.home__body {
  color: #fff;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  z-index: 2;
}

.home__title {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 3px;
  margin-bottom: 24px;
}
@media (max-width: 912px) {
  .home__title {
    font-size: 35px;
  }
}
@media (max-width: 480px) {
  .home__title {
    margin-bottom: 35px;
    max-width: 400px;
    text-align: center;
    line-height: 55px;
    text-shadow: 3px 3px 32px #000;
  }
}
@media (max-width: 350px) {
  .home__title {
    font-size: 35px;
    line-height: 40px;
  }
}

.home__subtitle {
  font-size: 20px;
  line-height: 24px;
  font-family: "Roboto Slab - Regular";
  margin-bottom: 44px;
  letter-spacing: 2px;
}
@media (max-width: 912px) {
  .home__subtitle {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .home__subtitle {
    margin-bottom: 64px;
  }
}
@media (max-width: 430px) {
  .home__subtitle {
    font-size: 16px;
    max-width: 400px;
    text-align: center;
    text-shadow: 3px 3px 32px #000;
  }
}

.home__get-started {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 2px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 18px 35px;
  box-shadow: 15px 5px 115px 10px rgba(255, 255, 255, 0.75);
  transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.home__get-started:hover {
  box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, 0.75);
}
@media (max-width: 912px) {
  .home__get-started {
    padding: 15px 30px;
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */