// << ШРИФТЫ >>========================================================================================================================================================

	// < Подключение шрифтов >=========================================================================================================================================

	@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');	
	@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

	// < Подключение шрифтов >=========================================================================================================================================

	// < Шрифт по умолчанию >==========================================================================================================================================
	$fontfamily: 'Roboto Slab', serif;
	// < Шрифт по умолчанию >==========================================================================================================================================

// << ШРИФТЫ >>========================================================================================================================================================

// << ПЕРМЕННЫЕ >>=====================================================================================================================================================

$minwidth: 320px;
$mv: 1125;
$md1: $mv + 15;
$md2: 912;
$md3: 668;
$md4: 480;

// << ПЕРМЕННЫЕ >>=====================================================================================================================================================

// << ОБОЛОЧКА >>======================================================================================================================================================

.wrapper {
	display: flex;
	flex-direction: column;

	min-height: 100vh;
}
	// < Основная сетка >==============================================================================================================================================
	.container {max-width: $mv+px; margin: 0px auto; padding: 0px 15px;
		@media (max-width: $md1+px) {max-width: 970px;}
		@media (max-width: $md2+px) {max-width: 750px;}
		@media (max-width: $md3+px) {max-width: none; padding: 0px 15px;}
	}
	// < Основная сетка >==============================================================================================================================================

// << ОБОЛОЧКА >>======================================================================================================================================================

// << ОБНУЛЕНИЕ ПАРАМЕТРОВ БРАУЗЕРА >>=================================================================================================================================

@import '_normalize';

// << ОБНУЛЕНИЕ ПАРАМЕТРОВ БРАУЗЕРА >>=================================================================================================================================


// << СТИЛИ ПОСТОЯННЫХ БЛОКОВ >>=======================================================================================================================================

@import '_header';
@import '_footer';

// << СТИЛИ ПОСТОЯННЫХ БЛОКОВ >>=======================================================================================================================================

// << ОСНОВНАЯ ЧАСТЬ >>================================================================================================================================================
	// < HOME >==============================================================================================================================================

	.home-fullscreen {
		position: relative;
		display: flex;
		min-height: 100vh;
		width: 100%;
	}
	.home__bg {
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100vh;

		z-index: 0;
	}
	.home__bg_cover {
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100vh;
		background-color: #000;

		opacity: 0.45;
		z-index: 1;
	}
	.home__body {
		color: #fff;
		text-transform: uppercase;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		margin: 0px auto;

		z-index: 2;	
	}
	.home__title {
		font-family: Montserrat;
		font-size: 48px;
		font-weight: 400;

		letter-spacing: 3px;
		margin-bottom: 24px;

		@media (max-width: $md2+px) {
			font-size: 35px;
		}
	}
	.home__subtitle {
		font-size: 20px;
		line-height: 24px;
		font-family: "Roboto Slab - Regular";

		margin-bottom: 44px;
		letter-spacing: 2px;

		@media (max-width: $md2+px) {
			font-size: 14px;
		}
	}
	.home__get-started {
		color: #fff;
		border: 2px solid #fff;
		border-radius: 2px;

		font-family: Montserrat;
		font-size: 16px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 2px;

		padding: 18px 35px;
		box-shadow: 15px 5px 115px 10px rgba(255, 255, 255, 0.75);

		transition: all .5s cubic-bezier(0.785, 0.135, 0.15, 0.86);

		&:hover {
			box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, 0.75);
		}

		@media (max-width: $md2+px) {
			padding: 15px 30px;
			font-size: 14px;
		}
	}

	// < название блока >==============================================================================================================================================



	// < название блока >==============================================================================================================================================
// << ОСНОВНАЯ ЧАСТЬ >>================================================================================================================================================